@charset "utf-8";
@font-face{
	font-family:"play";
	src:url(fonts/Play-Bold.ttf);	
}

body {
	font:100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background:url(img/banner\ azul.PNG);
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	
}

/* ~~ Selectors ~~ */
/* Degut a les diferències existents entre els navegadors, es recomanable no afegir espai addicional ni marges a les llistes.
Per mantenir una certa coherencia, les cantitas desitjades es poden especificar aquí o en els elements de la llista (LI, DT, DD), però no en tots dos. */
ul, ol, dl { 
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, h6{
	font-family:Play-Bold;
	margin-top:0;	/* la eliminació del marge superior resol un problema que fa que els marges escapin de l'etiqueta div contenidora. El marge inferior restant el mantindrà separat dels elements que segueixin. */
	padding-right:15px;
	padding-left:15px; 
	color: #fff;
}

p{
	text-align: justify;
	color: rgb(187, 187, 187);
	margin-top:0;	/* la eliminació del marge superior resol un problema que fa que els marges escapin de l'etiqueta div contenidora. El marge inferior restant el mantindrà separat dels elements que segueixin. */
	padding-right:15px;
	padding-left:15px; 
}

p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#18162c}

.menu{
	width:100%;
	margin: 0 auto;

}




/* Aquest selector elimina el marc blau predeterminat que es mostra en alguns navegadors al voltant d'una imatge quan aquesta està envoltada per un vincle. */
a img { 
	border:none;
}

/* ~~ L'aplicación d'estilo als links de la pàgina ha d'apareixer en aquest ordre (inclosos els selectors que creen l'efecte hover -pas per sobre-). ~~ */
a:link {
	color:#02eefc;
	text-decoration:underline; /* tret de que s'apliquin estils als links per que tinguin un aspecte exclusiu, es recomanable proporcionar subratllats per facilitar una identificació visual ràpida */
}


/* Aquest grup de selectors proporcionarà a un usuari que navegui mitjançant el teclat la mateixa experiència de hover (pas per sobre) que experimenta un usuari que utilitza un ratolí. */
a:hover, a:active, a:focus { 
	text-decoration:none;
}

/* ~~ Contenidor d'amplada fixa que envolta el contingut de la pàgina ~~ */


.logo {
	float:left;
	display: inline-block;
	margin:3px 7px;
}

/* ~~ Capçalera de la pàgina. S'estén per tota l'amplada del disseny ja que no se li assigna cap amplada especifica ~~ */
.header {
	
	background-repeat:repeat-x;
	height: 0px;
}

.title{

	float:left;
	text-decoration:none;
	text-align: center;
	padding: 3px 7px;
	
	
}
.banner{
	height: 50px;
	width:100%;
	z-index: 1;
	position: absolute;
	
}
.cryptocurrency{
	width: 100%;
	height: 320px;
	display: block;
	margin: auto;
	padding: 10px 10px;
}

.content {

	padding:0px;
	width: 100%;
	margin:0 auto;

}

/* ~~ Aquest selector agrupat afegeix espai a les llistes de l'àrea de .content ~~ */
.content ul, .content ol { 
	padding:0 15px 15px 40px;
}

/* ~~ Estils de la llista de navegació ~~ */
ul.nav {
	list-style:none; /* això elimina el marcador de llista */
	margin-bottom:15px; /* això crea l'espai entre la navegació i el contingut posicionat a sota */	     
}
.nav li a{
	z-index: 4;
	font-family:play;
	font-size: 15px;
}

ul.nav li {

	    float: right;
		color: white;
		text-decoration:underline;
		font-family:play;
		padding: 8px 8px;
		text-align: left;
		text-decoration: none;
		display:inline-block;
		margin: left 50px; 
		border-radius: 10px;
		z-index: 10;
		position: relative;	
}

nav ul li{

	list-style: none;
	margin: 75px;
	padding: 25px 0;
	float: left;
}

ul.nav a, ul.nav a:visited { /* al agrupar aquests selectors, s'asegurarà de que els vincles mantinguin l'aspecte de botó fins i tot   després de visitar-se */
	
	display:inline-block; /* això assigna propietats de bloc al vincle, fet que provoca que s'empleni tot el LI que el conté. Això provoca que tota l'àrea reaccioni a un clic de ratolí. */
	width:160px;  /* l'amplada fa que es pugui fer clic en tot el botó per IE6. Es pot eliminar si no es necessari proporcionar compatibilitat amb IE6. */
	text-decoration:none;
	text-align: center;
	padding: 3px 7px;

	border-radius: 8px;
	border-collapse: collapse;
	color:white;
	background-color:#18162c;
	border-bottom-style:groove;
	border-color:#02eefc;
}

 ul.nav a:hover, ul.nav a:focus { /* això canvia el color de fons i del text tant per usuaris que naveguin amb ratolí com pels que ho facin amb teclat */
	background:#18162c;
	color:#02eefc;
	border-radius: 8px;
}

/* ~~ Peu de pàgina ~~ */


.footer {
	padding:10px 0;
	background:url(img/banner1.png);
	background-repeat:repeat-x;
	height:50px;
	clear:both; /* aquesta propietat d'esborrat obliga a .container a conèixer on terminen les columnes i a contenir-les */
}

.products{
	display: inline-block;
	float:left;
	/*border: 1px solid  black;*/
	text-align: center;

}

.detail-product {
	display:inline-block;
	float:left;
	text-align: center;
	padding:20px;
	margin: 10px;
	width: 100%;


}

.description {
	color:white;


}

.price { /* exemple d'estil que s'aplicaría a la part de detall de producte que correspon al preu */
	display:inline;
	color:#02eefc;
	font-weight:bold;
	font-size:0.9em;
}

.buy { /* estil que canvia l'aspecte prederminat dels botons */
	padding:4px;
	text-transform:uppercase;
	font-weight:200;
	font-size:0.7em;
	border:1px solid white;
	background-color:#02eefc;
	color:#18162c;
	width: 5%;
}

.buy:hover { /* volem mantenir l'efecte hover dels botons fins i tot després de modificar el seu aspecte */
	background-color:yellow;
	cursor:pointer;
	color:#18162c;
}

.contact_form{  
	width: 460px; 
	height: auto;
	margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
	background-color: #fbfbfb; 
	padding-left: 30px; 
  }

.form{
	color:white;
	display: inline-block;
	float:left;
	/*border: 1px solid  black;*/
	text-align: center;
	padding-right:15px;
	padding-left:15px;
	width: 400px; 
	height: auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
	background-color: #02eefc;
	margin: 80px 450px; 
	box-shadow:0 0 40px -10px #18162c;	
}


.button{

	padding:4px;
	text-transform:uppercase;
	font-weight:200;
	font-size:0.7em;
	border:1px solid white;
	background-color:#18162c;
	color:white;
	width:20%;
	
}

.button:hover { /* volem mantenir l'efecte hover dels botons fins i tot després de modificar el seu aspecte */
	background-color:yellow;
	cursor:pointer;
	color:#18162c;
}

.inlineblock{
	display:inline-block;
	float:left;
	text-align: center;
	padding:20px;
	margin: 10px;
	width: 100%;
}

input{
	width:100%;padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid white;
	color: #18162c;
}
textarea{
	width:100%;padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid white;
	color: #18162c;
}
input:focus{border-bottom:2px solid white}

textarea:focus{border-bottom:2px solid white}

iframe{

	margin-left: auto;
}

.map{
	margin-left:450px;

}

.aboutus{
	margin-top:5%;
	display: inline-block;
	float:left;
}

.imagenes{
	margin-left: 30%;


}


